
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.overview-nav{
	a{
		margin: 10px;
		font-size: 24px;
	}
}

.nav-item.dropdown{
	&:hover .dropdown-menu{
		display: block;
	}
} 

.box{
	text-align: center;
	i{
		font-size: 50px;
	}
}